.App {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: #fafafa;
    padding: 1rem;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.settings {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 4rem;
}

@media only screen and (min-width: 768px) {
    .settings {
        margin-bottom: 0;
    }
}

.main {
    display: flex;
    flex: 3;
}
